
@use '../utils/responsive' as *;

header {
  .encabezado {
    display: flex;
    align-items: center;
    gap: 2rem;
    padding: 2rem;

    @include mobile {
      flex-direction: column;
      align-items: center;
      text-align: center;
      gap: 1rem;
    }

    .logo-efe {
      width: 450px;
      height: auto;
      flex-shrink: 0;

      @include mobile {
        width: 350px;
      }
    }

    .texto-efe {
      max-width: 700px;

      @include mobile {
        max-width: 90%;
        padding: 0 2rem;
      }

      h3 {
        font-size: 1.2rem !important;
        margin-top: 0.3rem !important;
        margin-bottom: 0.3rem !important;
        line-height: 1.3;

        @include mobile {
          margin: 0.5rem 0;
        }
      }
    }

    .titulo-ppal {
      font-size: 2rem;
      margin: 0;
      color: aliceblue;
    }
  }
}

